html, body, .container, .row {
  height: 100%;
}

.suggestion-box {
  text-align: center;
  /*
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-60%);
  */
  background-color: #eee;
  padding: 40px;
}

.suggestion {
  font-size: 40px;
  background-color: #ddd;
  padding: 20px;
  margin: 20px 0;
}

.options {
  margin-top: 10px;
}

/* Mobile */
@media (max-width: 767px) {
  .suggestion-box {
    position: fixed;
    bottom: 0;
  }

  .btn {
    width: 100%;
    min-height: 60px;
    font-size: 24px;
  }
}
